.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  &__content {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }
  }
}
